pinecone, embedding, gdrive_progress 4.json
{
  "name": "pinecone, embedding, gdrive_progress 4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rvckq91ALaOVrNz9Nmdcr8WDPbJWQI2m",
          "mode": "list",
          "cachedResultName": "progress 4-sjk-new-db",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rvckq91ALaOVrNz9Nmdcr8WDPbJWQI2m"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6b306da7-c964-4983-b1a7-88748fe8ed22",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZQP1QiGtgSKYowv7",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ec6a1a54-948a-4a87-9f96-44214fc8ac1a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        -16
      ],
      "id": "1ccd78ce-cbf3-4f14-afc5-2fe9fda4adfc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZQP1QiGtgSKYowv7",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinnecone2-coba",
          "mode": "list",
          "cachedResultName": "pinnecone2-coba"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        -16
      ],
      "id": "d54362c3-59ac-49c3-a79a-b8029c4714a5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "juLnC3JMSdFUKO0L",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        640,
        176
      ],
      "id": "03ad6253-efa1-42a0-9574-b5115bf9ee18",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "SGIR97NXtv9fnChH",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        192
      ],
      "id": "d60ebe72-0dbf-482f-91a1-b578563c44c9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        912,
        400
      ],
      "id": "84ccffc8-b74c-4ba0-9c31-6f319a4e46f2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "536c608f-4870-4921-b4a8-3da4984e0585",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de53d9fa0cad0f8d4f39b74c76af36598a43e934d22ca2b5a23c033c0575555a"
  },
  "id": "QVe3juM3SdRamROB",
  "tags": []
}