progress 5, integrasi workflow (1).json
{
  "name": "progress 5, integrasi workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        160
      ],
      "id": "f27569be-7dc3-4471-8b8b-ab5b631f99f1",
      "name": "Telegram Trigger",
      "webhookId": "585fe243-f2a6-4673-8381-d43a510e0e12",
      "credentials": {
        "telegramApi": {
          "id": "AiJCKu1XhBkblLLO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        16
      ],
      "id": "69f2d1e5-f53d-4a83-a4f0-059628229821",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6ea7258-9a42-4fca-b842-81ccae0c1aef",
              "leftValue": "=={{ $json.source === 'webhook' }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        16
      ],
      "id": "bd395df3-0975-4906-9dce-dd9e581d0744",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Tool untuk mengambil dokumen relevan dari Pinecone berdasarkan pertanyaan user\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinnecone2-coba",
          "mode": "list",
          "cachedResultName": "pinnecone2-coba"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        272
      ],
      "id": "53634cc3-9ad4-410f-be1e-f76ac012955d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "dArLQZvt0MGszmvA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        240
      ],
      "id": "db54da0a-375e-4192-9510-f1f904b3a698",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bAQrAw1tTZmPquF9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        128
      ],
      "id": "9ae3f31b-aee9-4569-a7ba-d23418dad9ac",
      "name": "Send a text message",
      "webhookId": "04b6d570-c283-42d8-a1a5-2c3061ca8e21",
      "credentials": {
        "telegramApi": {
          "id": "AiJCKu1XhBkblLLO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rvckq91ALaOVrNz9Nmdcr8WDPbJWQI2m",
          "mode": "list",
          "cachedResultName": "progress 4-sjk-new-db",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rvckq91ALaOVrNz9Nmdcr8WDPbJWQI2m"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        832,
        384
      ],
      "id": "39987a4e-0cd1-4576-83a7-a69e1f3467f8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZQP1QiGtgSKYowv7",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        384
      ],
      "id": "c26e0bf9-ddd6-45f2-985c-63f553813b29",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        368
      ],
      "id": "77ff6eb2-3abc-4d38-ba16-c87bc12edd18",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZQP1QiGtgSKYowv7",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinnecone2-coba",
          "mode": "list",
          "cachedResultName": "pinnecone2-coba"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1504,
        368
      ],
      "id": "4e623b39-ed04-4483-a82f-21a8b5c2d59e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "juLnC3JMSdFUKO0L",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1648,
        576
      ],
      "id": "7ec6c82c-f806-49a1-b218-ae0482d5c3ba",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1712,
        784
      ],
      "id": "0e664acd-427d-4881-8498-0cee74514b3e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1472,
        560
      ],
      "id": "e2e68f8e-6ac8-4725-80bc-12a3b6221318",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "SGIR97NXtv9fnChH",
          "name": "Ollama account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webapp-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        0
      ],
      "id": "507cf505-83fd-4967-bb2c-78821964c07d",
      "name": "Webhook1",
      "webhookId": "f5e8b178-4483-475e-a67c-6773fd486a60"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{$json.choices[0].message.content}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        -32
      ],
      "id": "66940545-bba7-4781-a8e0-415d3a0cfcf2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        416,
        464
      ],
      "id": "4ff9d68e-7bda-4c74-a9e0-e12d54b17818",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "SGIR97NXtv9fnChH",
          "name": "Ollama account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8223eca-f8d9-4a19-a5ce-d4ccc9ac314f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de53d9fa0cad0f8d4f39b74c76af36598a43e934d22ca2b5a23c033c0575555a"
  },
  "id": "vBG7QFpWUxdJDSol",
  "tags": []
}